*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
.kotlin/
gradle.properties
# 忽略 .kotlin 目录
#git rm -r --cached .kotlin
#git commit -m "Ignore .kotlin folder"